.app {
  padding: 0 3em;
}

.app__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}


@media screen and (max-width: 900px) {
  .app {
    padding: 0 4em;
  }
  .app__container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .app {
    padding: 0 1em;
  }
}
